<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.luckysweetheart.storage"/>

    <context:property-placeholder location="classpath:properties/app.properties" ignore-unresolvable="true"/>

    <bean class="com.luckysweetheart.storage.util.SpringUtil" lazy-init="false"/>

    <bean id="clientConfiguration" class="com.aliyun.oss.ClientConfiguration">
        <property name="maxConnections" value="200"/>
        <property name="socketTimeout" value="10000"/>
        <property name="maxErrorRetry" value="5"/>
    </bean>

    <bean class="com.aliyun.oss.OSSClient" id="ossClient" destroy-method="shutdown">
        <constructor-arg index="0" type="java.lang.String" value="${oss.endPoint}"/>
        <constructor-arg index="1" type="java.lang.String" value="${oss.access.key.id}"/>
        <constructor-arg index="2" type="java.lang.String" value="${oss.access.key.sercet}"/>
        <constructor-arg index="3" type="com.aliyun.oss.ClientConfiguration" ref="clientConfiguration"/>
    </bean>

    <bean class="com.luckysweetheart.storage.util.IdWorker" id="idWorker">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="2"/>
    </bean>
</beans>